<!-- views/partials/error-header.ejs -->

<header>
    <nav class="navbar navbar-default navbar-fixed-top customNavBar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand customBrand" href="/">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    ROOM PHIL
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navigation_links"> 
                <ul class="nav navbar-nav">
                    <li><a href='/about'>About</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
