<!-- views/partials/header.ejs -->

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" 
                        data-toggle="collapse" aria-expanded="false"
                        data-target="#navigation_links" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ROOM PHIL</a>
            </div>
    
            <div class="collapse navbar-collapse" id="navigation_links">
                <ul class="nav navbar-nav">
                  <li><a href="#">Find Rooms</a></li>
                  <li><a href="#">Reservations</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                            role="button" aria-haspopup="true" aria-expanded="false">
                            User 
                            <span class="caret"></span>
                        </a> 
                        <ul class="dropdown-menu">
                            <li><a href="#">Account Settings</a></li>
                            <li><a href="#">Messages</a></li>
                            <li><a href="#">Friends</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


