.timetable .time-entry.class,
.timetable .time-entry.class:hover {
	background-color: #CCC;
	border: none;
}

.timetable .time-entry.free {
	background-color: #22B14C;
	border: none;
}
.timetable .time-entry.free:hover {
	background-color: #008418;
	border: none;
}

.timetable .time-entry.taken,
.timetable .time-entry.taken:hover {
	background-color: #DF003C;
	border: none;
}

.timetable .time-entry.clicked, 
.timetable .time-entry.clicked:hover {
	background-color: #F59F16;
	border: none;
}
