/*BOOTSTRAP OVERRIDE*/
/*Navbar*/
.customNavBar {
    background-color: #900000;
}

.customNavBar .navbar-nav  > li > a, 
.customNavBar .customBrand{
    color: #FFF;
}

.customNavBar .navbar-nav  > li > a:hover, 
.customNavBar .navbar-nav > li > a:focus, 
.customNavBar .customBrand:hover, 
.customNavBar .customBrand:focus {
    color: #CCC;
}

/*Buttons*/
.customPriBtn {
    background-color: #BA0000;
    border-color: #BA0000;
    margin: 8px 15px 8px 0px;
}

.customPriBtn:hover, 
.customPriBtn:active, 
.customPriBtn:focus {
    background-color: #9C0000;
    border-color: #9C0000;
}

.customPriBtn:active:focus, 
.customPriBtn:active:hover {
    background-color: #7E0000;
    border-color: #7E0000;
}

.customSecBtn {
    background-color: #FFF;
    border-color: #FFF;
    margin: 8px 15px 8px 0px;  
}

.customSecBtn:hover, 
.customSecBtn:active, 
.customSecBtn:focus {
    background-color: #CCC;
    border-color: #CCC;
}

.customSecBtn:active:focus, 
.customSecBtn:active:hover {
    background-color: #DDD;
    border-color: #DDD;
}

/*Font*/
.btn, .navbar-default, 
.navbar-default .navbar-header 
.navbar-brand, 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.modal-title {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 36px;    
}

/*Header and footer*/
#header {
    font-size: 95px;
    text-transform: uppercase;
    margin-top: 0;
}

#subHeader {
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
    margin-top: 0;
}

.header-content {
    position: absolute;
    top: 50%;
}

hr {
    border-color: #BA0000;
    border-width: 3px;
    max-width: 100px;
}

footer {
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
}
/*Main UI*/
.search-box {
    height: auto;
}

.vertical-aligned {
    min-height: 100px;  
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.customTitle {
    padding: 10px 0 20px 0;
    color: #900000;
    font-weight: bold;
}
.customTitleNoPad {
    color: #900000;
    font-weight: bold;
}

#timetable-detail {
    font-size: 30px;
}

.calendar {
    overflow: auto;
}

footer {
    position: relative;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.pageTitle {
    position: absolute;
    color: #EFEFEF;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 175px;
    padding-left: 50px;
}