<!-- views/pages/about.ejs -->
<!DOCTYPE html>

<html lang="en" ng-app>
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/public/css/index.css">
    </head>
    <body>
        <%include ../partials/login-header %>
        <main class="container-fluid">
            <div class="col-md-12 text-center header-content">
                <h1>About Room Phil</h1>
                <p>A way for students for locate empty classrooms</p>
            </div>
        </main>
        <% include ../partials/footer %>
    </body>
    <% include ../partials/account_modals %>
</html>
