<!-- views/pages/groups.ejs -->
<!DOCTYPE html>

<html lang="en">
    <head>
        <% include ../partials/head%>
        <link rel="stylesheet" href="/public/css/home.css">
        <link rel="stylesheet" href="/public/css/group.css">
    </head>
    <body class>
        <% include ../partials/header %>
        <div class="container-fluid">
            <div class="row vertical-aligned">
                <div class="col-md-4">
                    <div class="panel panel-default customPanel">
                        <div class="panel-heading">
                            <h3 class="customTitleNoPad">Current Groups</h3>
                        </div>
                        <div class="panel-body  scrollPanel">
                            <% for (let i = 0; i < groups.length; i++) { %>
                                <button type="button" class="list-group-item noRadius">Group <%= i %></button>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default customPanel">
                        <div class="panel-heading">
                            <h3 class="customTitleNoPad">Group # Information</h3>
                        </div>
                        <div class="panel-body">
                            <form> 
                                <div class="form-group">
                                    <label for="creator">Creator</label>
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <%= groups[0].creator %>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="members">Members</label>
                                    <select multiple class="form-control" id="members" size=8>
                                        <% for (let i = 0; i < groups[0].members.length; i++) { %>
                                            <option><%= groups[0].members[i] %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success tn-md">Invite</button>
                                        <button type="button" class="btn btn-danger tn-md">Remove</button>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top: 15px">
                                    <label for="reservation">Reservations</label>
                                    <select multiple class="form-control" id="members" size=4>
                                        <% for (let i = 0; i < groups[0].reservations.length; i++) { %>
                                            <option><%= groups[0].reservations[i] %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-danger tn-md">Remove Reservation</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default customPanel">
                        <div class="panel-heading">
                            <h3 class="customTitleNoPad">Pending Invitations</h3>
                        </div>
                        <div class="panel-body scrollPanel">
                            <div class="alert alert-warning changeAlert" role="alert" style="position: relative;">
                                <span class="changeMsg">Invitation from +1 (202) 120-1232</span>
                                <div class=" custBut " style="float: right;" >
                                    <button type="button" class="btn btn-default btn-success btnCheck">
                                        <span class="glyphicon glyphicon-ok" 
                                                aria-hidden="true">
                                        </span>
                                    </button>
                                    <span></span>
                                    <button type="button" class="btn btn-default 
                                    btn-danger btnX">
                                        <span class="glyphicon glyphicon-remove" 
                                                aria-hidden="true">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
    <script>
        $(".btnCheck").click(function(){
            $(".changeAlert").toggleClass("alert-warning");
            $(".changeAlert").toggleClass("alert-success");
            $(".changeMsg").text("Accepted");
            $(".btnCheck").hide();
            $(".btnX").hide();
            $(".changeAlert").fadeOut(1500);
        });

        $(".btnX").click(function(){
            $(".changeAlert").toggleClass("alert-warning");
            $(".changeAlert").toggleClass("alert-danger");
            $(".changeMsg").text("Denied");
            $(".btnCheck").hide();
            $(".btnX").hide();
            $(".changeAlert").fadeOut(1500);
        });
    </script>
</html>


