<!-- views/pages/home.ejs -->
<!DOCTYPE html>

<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/public/css/home.css">
        <link rel="stylesheet" href="/public/css/custTimetable.css">        
        <link rel="stylesheet" href="/public/timetable.js-master/dist/styles/timetablejs.css">
        <script src="/public/timetable.js-master/dist/scripts/timetable.min.js"></script>
    </head>
    <body class="container-fluid">
        <% include ../partials/header %>
        <main>
            <div class="row vertical-aligned">
                <div class="col-md-3">
                    <div class="well search-box">
                        <label for="search-field">
                            Search building name here: 
                            <div class="input-group input-group-lg">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" 
                                    id="search-button">
                                    Go!
                                    </button>
                                </span>
                                <input id="search-field" list="building-list" type="text"        placeholder="Search here..." class="form-control">
                            </div>

                            <datalist id="building-list">
                            </datalist>
                        </label>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="well">
                        <div class="text-center">
                            <h1 class="customTitle" id="timetable-title"></h1>
                        </div>
                        <div class="timetable"></div>
                    </div>
                    <div class="well"> 
                        <h2 class="customTitle">Booking details</h2>
                        <p id="timetable-detail"></p>
                    </div>
                </div>
            </div>
        </main>
        <% include ../partials/footer %>
        <script>
            var options = ['1','2','3','4'];
            for (var i = 0; i < options.length; i++) {
                var option = document.createElement('option');
                option.value = options[i];
                $('#building-list').append(option);
            }
            var timetable = new Timetable();
            timetable.addLocations (['Room 1', 'Room 2', 'Room 3']);

            var options1 = {
                class: 'class',
                data: {
                    id: 4,
                }
            }

            var options2 = {
                url: '#',
                class: 'free',
                data: {
                    id: 3,
                }
            }

            var options3 = {
                class: 'taken',
                data: {
                    id: 4,
                }
            }

            timetable.addEvent('Class', 'Room 1', 
                new Date(2015,7,17,10,45), new Date(2015,7,17,12,30), options1);
            timetable.addEvent('', 'Room 2', 
                new Date(2015,7,17,10,45), new Date(2015,7,17,11,00), options2);
            timetable.addEvent('', 'Room 3', 
                new Date(2015,7,17,10,45), new Date(2015,7,17,12,30), options3); 

            var renderer = new Timetable.Renderer(timetable);
                renderer.draw('.timetable');

            $(".time-entry.free").click(function(){
                $(this).toggleClass('clicked');
            });  

            $("#search-button").click(function(){
                var inputVal = $("#search-field").val();
                console.log(inputVal);
                var obj = $("#building-list").find("option[value='"+inputVal+"']");

                if(obj !=null && obj.length>0)
                    $("#timetable-title").text(inputVal);
                else
                    alert("Invalid choice"); 
            })
        </script>
        <script src="/public/scripts/homeScript.js"></script>
    </body>
</html>
