<!-- views/pages/home.ejs -->
<!DOCTYPE html>

<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/public/css/home.css">
        <link rel="stylesheet" href="/public/css/custTimetable.css">        
        <link rel="stylesheet" href="/public/timetable.js-master/dist/styles/timetablejs.css">
        <script src="/public/timetable.js-master/dist/scripts/timetable.min.js"></script>
        <script src="/public/lodash.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body class="container-fluid">
        <% include ../partials/header %>
        <main>
            <div>
                <h1 class="pageTitle">Find room</h1>
            </div>
            <div class="row vertical-aligned">
                <div class="col-md-12">
                    <div class="well">
                        <label>
                            Search building name here: 
                        </label>
                        <div class="input-group input-group-lg search-field">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" 
                                        id="search-button">
                                        Search
                                </button>
                            </span>
                            <input id="search-field" list="building-list" type="text"        placeholder="Search here..." class="form-control">
                        </div>
                        <datalist id="building-list"></datalist>
                    </div>
                    <div class="well" id="calendar">
                        <div class="text-center">
                            <h1 class="customTitle" id="timetable-title"></h1>
                        </div>
                        <div class="timetable pre-scrollable"></div>
                    </div>
                    <div class="well" id="booking-detail"> 
                        <h1 class="customTitle">Booking details</h1>
                        <div id="timetable-detail"></div>
                        <button type="button"
                                class="btn btn-primary navbar-btn btn-lg customPriBtn"
                                id="confirm">
                                Confirm
                        </button>
                        <button type="button"
                                class="btn btn-defaut navbar-btn btn-lg customSecBtn"
                                id="cancel">
                                Cancel
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <% include ../partials/footer %>
        <script>
            //Populate .json into datalist

            var io = io();
            var options = [];
            var bookings = [];
            var options1 = {
                class: 'class',
            }
            var options3 = {
                class: 'taken',
                data: {
                }
            };
            var days = {
                0 : "Monday",
                1 : "Tuesday",
                2 : "Wednesday",
                3 : "Thursday",
                4 : "Friday",
                5 : "Saturday",
                6 : "Sunday"
            };
            io.on('set rooms', function(rooms) {
                var timetable = new Timetable();
                timetable.setScope(7,22);
                var date = new Date();
                var day = days[date.getDay()];
                var room_nums = [];
                //get a list of rooms
                rooms.forEach(function(room) {
                    room_nums.push(room.room);
                });
                timetable.addLocations(room_nums);

                //creates all the time slots;
                rooms.forEach(function(room) {
                    var total = (22-7) * 12;
                    var b_hour = 7;
                    var b_min = 0;
                    var free = {};
                    //makes a hash with all the increments
                    for(var i = 0; i < total; i++) {
                        if (b_min === 60) {
                            b_min = 0;
                            b_hour += 1;
                        }
                        var key = b_hour.toString() + ":" + b_min.toString();
                        free[key] = 0;
                        b_min += 5;
                    }

                    room.class.forEach(function(lecture) {
                        if (lecture.days.indexOf(day) !== -1) {
                            var date = new Date(null);
                            date.setSeconds(lecture.start);
                            var d = date.toISOString().substr(11, 8).split(':');
                            var s_minute = d[1];
                            var s_hour = d[0];
                            var options1 = {
                                class: 'class',
                            }

                            date = new Date(null);
                            date.setSeconds(lecture.end);
                            d = date.toISOString().substr(11, 8).split(':');
                            var e_minute = d[1];
                            var e_hour = d[0];
                            var start = new Date(2017,1,29,s_hour,s_minute);
                            var end = new Date(2017,1,29,e_hour,e_minute);
                            var diff = (((end - start)/1000)/60)/5;
                            s_minute = parseInt(s_minute);
                            s_hour = parseInt(s_hour);
                            for (var i = 0; i < diff; i++) {
                                if (s_minute === 60) {
                                    s_minute = 0;
                                    s_hour += 1;
                                }
                                var ns_minute = parseInt(s_minute).toString();
                                var ns_hour = parseInt(s_hour).toString();
                                var key = ns_hour + ":" + ns_minute;
                                delete free[key];
                                s_minute += 5
                            }
                            timetable.addEvent(lecture.department + lecture.course, room.room, start, end, options1);
                        }
                    });
                    _.forEach(room.reserved, function(value, key) {
                        if (day === value.day) {                            
                            var date = new Date(null);
                            date.setSeconds(value.start);
                            var d = date.toISOString().substr(11, 8).split(':');
                            var s_minute = d[1];
                            var s_hour = d[0];
                            date = new Date(null);
                            date.setSeconds(value.end);
                            d = date.toISOString().substr(11, 8).split(':');
                            var e_minute = d[1];
                            var e_hour = d[0];
                            var start = new Date(2017,1,29,s_hour,s_minute);
                            var end = new Date(2017,1,29,e_hour,e_minute);
                            var diff = (((end - start)/1000)/60)/5;
                            s_minute = parseInt(s_minute);
                            s_hour = parseInt(s_hour);
                            for (var i = 0; i < diff; i++) {
                                if (s_minute === 60) {
                                    s_minute = 0;
                                    s_hour += 1;
                                }
                                var ns_minute = parseInt(s_minute).toString();
                                var ns_hour = parseInt(s_hour).toString();
                                var key = ns_hour + ":" + ns_minute;
                                delete free[key];
                                s_minute += 5
                            }
                            timetable.addEvent(null, room.room, start, end, options3);
                        }
                    });
                    _.forEach(free, function(value, key) {
                        var minute = parseInt(key.split(':')[1]);
                        var hour = parseInt(key.split(':')[0]);
                        var plus = key.split(':')[0] + ":" + (minute+15).toString();
                        var newMinute;

                        if (minute == 0) {
                            newMinute = minute + '0';
                        }else {
                            newMinute = minute;
                        }

                        if (minute % 15 === 0) {
                            var nhour = hour;
                            var nminute = minute + 15;
                            if (nminute === 60) {
                                nminute = 0;
                                nhour += 1;
                            }
                            var options2 = {
                                class: 'free',
                                data: {
                                    buildingName: room.building,
                                    room: room.room,
                                    date: 'January 29, 2017',
                                    time: hour + ":" + newMinute,
                                    day: day,
                                    id: room.room + "" + hour + "" + minute + "" + nhour + "" + nminute,
                                }
                            }
                            var nstart = new Date(2017,1,29,hour, minute);
                            var nend = new Date(2017,1,29,nhour, nminute);
                            timetable.addEvent("", room.room, nstart, nend, options2);
                        }

                    });
                });
                var renderer = new Timetable.Renderer(timetable);
                renderer.draw('.timetable');
                $("span.time-entry.free").click(function(){
                    if (bookings.length < 8 ) {
                        $(this).toggleClass('clicked'); 
                        if ($(this).attr("class").indexOf("clicked") == -1) {
                            $("#" + $(this).attr("data-id")).remove();
                            var current = $(this);
                            _.remove(bookings, function(val) {
                                return val.id === current.data('id');
                            });
                        } else {
                            var detail = document.createElement('p');
                            detail.setAttribute("id", $(this).attr("data-id"));
                            detail.innerHTML = ($(this).attr("data-buildingName") + " " + 
                            $(this).attr("data-room") + ", " +
                            $(this).attr("data-time") + ", " +
                            $(this).attr("data-day") + ", " +
                            $(this).attr("data-date"));
                            $("#timetable-detail").append(detail);
                            bookings.push($(this).data());
                        }       

                        if (bookings.length === 0) {
                            $("#booking-detail").hide();                    
                        }else {
                            $("#booking-detail").show();
                        }
                    } else {
                        alert("You can only book 8 times slots at a time! Don't be greedy");
                    }
                });

                $("#cancel").click(function(){
                    $('#timetable-detail').empty();
                    $('#booking-detail').hide();
                    bookings.forEach(function(data) {
                        $("#" + data.id).remove();
                        $('[data-id=' + data.id + "]").toggleClass('clicked');
                    })
                    bookings = [];
                });
            });
            //timetable.addLocations(['1','2','3']);
            $.getJSON("/public/json/buildings.json", function(data) {
                Object.keys(data).forEach(function(building) {
                    options.push("(" + data[building].code + ") " + data[building].name);
                });
                for (var i = 0; i < options.length; i++) {
                    var option = document.createElement('option');
                    option.value = options[i];
                    $('#building-list').append(option);
                }
            });

            //Hide booking detail
            $(function(){
                $("#booking-detail").hide();
            })
            $(function(){
                $("#calendar").hide();
            })

            //Search button
            $("#search-button").click(function(){
                var inputVal = $("#search-field").val();
                var obj = $("#building-list").find("option[value='"+inputVal+"']"); 

                if(obj !=null && obj.length>0) {
                    var code = inputVal.split(' ')[0].slice(1,-1)
                    $("#timetable-title").text(inputVal); 
                    io.emit("get building", code);
                    $("#calendar").show();
                    $(".pageTitle").hide();
                }
                else {
                    alert("Invalid choice"); 
                }
            });
            $('#confirm').click(function() {
                $('#timetable-detail').empty();
                $.post('/reserve', {data: bookings})
                bookings.forEach(function(data) {
                    $('[data-id=' + data.id + "]").toggleClass('clicked');
                    $('[data-id=' + data.id + "]").removeClass('free');
                    $('[data-id=' + data.id + "]").unbind("click");
                    $('[data-id=' + data.id + "]").addClass('taken');
                })
                bookings = [];
                $('#booking-detail').hide();
            });
        </script>
    </body>
</html>
