<!-- views/pages/home.ejs -->
<!DOCTYPE html>

<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/public/css/home.css">
        <link rel="stylesheet" href="/public/css/custTimetable.css">        
        <link rel="stylesheet" href="/public/timetable.js-master/dist/styles/timetablejs.css">
        <script src="/public/timetable.js-master/dist/scripts/timetable.min.js"></script>
        <script src="/public/lodash.core.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body class="container-fluid">
        <% include ../partials/header %>
        <main>
            <div class="row vertical-aligned">
                <div class="col-md-12">
                    <div class="well">
                        <label>
                            Search building name here: 
                        </label>
                        <div class="input-group input-group-lg search-field">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" 
                                        id="search-button">
                                        Go!
                                </button>
                            </span>
                            <input id="search-field" list="building-list" type="text"        placeholder="Search here..." class="form-control">
                        </div>
                        <datalist id="building-list"></datalist>
                    </div>
                    <div class="well">
                        <div class="text-center">
                            <h1 class="customTitle" id="timetable-title"></h1>
                        </div>
                        <div class="timetable pre-scrollable"></div>
                    </div>
                    <div class="well" id="booking-detail"> 
                        <h1 class="customTitle">Booking details</h1>
                        <div id="timetable-detail"></div>
                    </div>
                </div>
            </div>
        </main>
        <% include ../partials/footer %>
        <script>
            //Populate .json into datalist

            var io = io();
            var options = [];
            var days = {
                0 : "Monday",
                1 : "Tuesday",
                2 : "Wednesday",
                3 : "Thursday",
                4 : "Friday",
                5 : "Saturday",
                6 : "Sunday"
            };
            
            io.on('set rooms', function(rooms) {
                var timetable = new Timetable();
                timetable.setScope(7,22);
                var date = new Date();
                var day = days[date.getDay()];
                var room_nums = [];
                rooms.forEach(function(room) {
                    room_nums.push(room.room);
                });
                timetable.addLocations(room_nums);
                rooms.forEach(function(room) {
                    var total = (22-7) * 12;
                    var b_hour = 7;
                    var b_min = 0;
                    var free = {};
                    //makes a hash with all the increments
                    for(var i = 0; i < total; i++) {
                        if (b_min === 60) {
                            b_min = 0;
                            b_hour += 1;
                        }
                        var key = b_hour.toString() + ":" + b_min.toString();
                        free[key] = 0;
                        b_min += 5;
                    }

                    room.class.forEach(function(lecture) {
                        if (lecture.days.indexOf(day) !== -1) {
                            var date = new Date(null);
                            date.setSeconds(lecture.start);
                            var d = date.toISOString().substr(11, 8).split(':');
                            var s_minute = d[1];
                            var s_hour = d[0];

                            date = new Date(null);
                            date.setSeconds(lecture.end);
                            d = date.toISOString().substr(11, 8).split(':');
                            var e_minute = d[1];
                            var e_hour = d[0];
                            var start = new Date(2017,1,29,s_hour,s_minute);
                            var end = new Date(2017,1,29,e_hour,e_minute);
                            var diff = (((end - start)/1000)/60)/5;
                            s_minute = parseInt(s_minute);
                            s_hour = parseInt(s_hour);
                            for (var i = 0; i < diff; i++) {
                                if (s_minute === 60) {
                                    s_minute = 0;
                                    s_hour += 1;
                                }
                                var ns_minute = parseInt(s_minute).toString();
                                var ns_hour = parseInt(s_hour).toString();
                                var key = ns_hour + ":" + ns_minute;
                                delete free[key];
                                s_minute += 5
                            }
                            timetable.addEvent(lecture.department + lecture.course, room.room, start, end, options1);
                        }
                    });
                    _.forEach(free, function(value, key) {
                        var minute = parseInt(key.split(':')[1]);
                        var hour = parseInt(key.split(':')[0]);
                        var plus = key.split(':')[0] + ":" + (minute+15).toString();
                        if (minute % 15 === 0) {
                            var options2 = {
                                class: 'free',
                                data: {
                                    room: room.room,
                                    date: 'January 29, 2017',
                                    time: hour + ":" + minute,
                                    id: hour + "" + minute + "" + nhour + "" + nminute,
                                }
                            }

                            var nhour = hour;
                            var nminute = minute + 15;
                            if (nminute === 60) {
                                nminute = 0;
                                nhour += 1;
                            }
                            var nstart = new Date(2017,1,29,hour, minute);
                            var nend = new Date(2017,1,29,nhour, nminute);
                            timetable.addEvent("", room.room, nstart, nend, options2);
                        }

                    });
                });
                var renderer = new Timetable.Renderer(timetable);
                renderer.draw('.timetable');
                $("span.time-entry.free").click(function(){
                    $(this).toggleClass('clicked'); 

                    if ($(this).attr("class").indexOf("clicked") == -1) {
                        $("#" + $(this).attr("data-id")).remove();
                        numOfBooking--;
                    }else {
                        var detail = document.createElement('p');
                        detail.setAttribute("id", $(this).attr("data-id"));
                        detail.innerHTML = ($(this).attr("data-room") + " " + 
                        $(this).attr("data-time") + ", " +
                        $(this).attr("data-date"));
                        $("#timetable-detail").append(detail);
                        numOfBooking++;
                    }   

                    if (numOfBooking == 0) {
                        $("#booking-detail").hide();                    
                    }else {
                        $("#booking-detail").show();
                    }
                }); 
            });
            //timetable.addLocations(['1','2','3']);
            $.getJSON("/public/json/buildings.json", function(data) {
                Object.keys(data).forEach(function(building) {
                    options.push("(" + data[building].code + ") " + data[building].name);
                });
                for (var i = 0; i < options.length; i++) {
                    var option = document.createElement('option');
                    option.value = options[i];
                    $('#building-list').append(option);
                }
            });

            var options1 = {
                class: 'class',
            }

            var options3 = {
                class: 'taken',
                data: {
                }
            }

            // var renderer = new Timetable.Renderer(timetable);
            //     renderer.draw('.timetable');

            //Hide booking detail
            var numOfBooking = 0;
            $(function(){
                $("#booking-detail").hide();
            })

            //Search button
            $("#search-button").click(function(){
                var inputVal = $("#search-field").val();
                var obj = $("#building-list").find("option[value='"+inputVal+"']");

                if(obj !=null && obj.length>0) {
                    var code = inputVal.split(' ')[0].slice(1,-1)
                    $("#timetable-title").text(inputVal); 
                    io.emit("get building", code);
                }
                else {
                    alert("Invalid choice"); 
                }
            })
        </script>
    </body>
</html>
