<!-- views/pages/index.ejs -->
<!DOCTYPE html>

<html lang="en" ng-app>
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/public/css/index.css">
    </head>
    <body>
        <% include ../partials/login-header %>
        <main class="container-fluid">
            <% if (message) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %> 
            <div class="col-md-12 text-center header-content">
                <h1 id="header">COME AND CHOOSE YOUR ROOM.</h1>
                <p id="subHeader">An interactive room reservation service.</p>
                <hr>
                <button type="button"
                        class="btn btn-primary navbar-btn btn-lg customPriBtn" 
                        data-toggle="modal" data-target="#modal1">
                        Sign up
                </button>
                        <button type="button" class="btn btn-default navbar-btn btn-lg"
                                data-toggle="modal" data-target="#modal2">
                                Sign in
                        </button>
                    </div>
                </main> 
                <% include ../partials/account_modals %>
            </div>
            <div class="footer">
            </div>
        </div>
    </body> 
</html>
